.answer-list {
  width: 48%;
  display: flex;
  flex-direction: column;
  &__item {
    transition: background-color .3s;
    cursor: pointer;
    padding: 12px 20px;
    background-color: #303030;
    border: 1px solid #555;
    border-top: none;
    &:first-child {
      border-top: 1px solid #555;
      border-radius: 10px 10px 0 0;
    }
    &:last-child {
      border-radius: 0 0 10px 10px;
    }
    &:hover {
      background-color: #444;
    }
  }
  &__btn {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #444;
    transition: background-color .3s;
  }
}

.answer-btn--wrong {
  background-color: #d62c1a;
}
.answer-btn--success {
  background-color: #00bc8c;
}

@media (max-width: 600px) {
  .answer-list {
    width: 100%;
    margin-bottom: 20px;
  }

}